*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

/*header and nav menu*/

.head{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 45vw 50px;
    text-align: center;
    align-items: center;
    background-image: url(../assets/images/Upup.jpg);
    background-size: cover;
    background-position: top;
    color: whitesmoke;
    position: -webkit-sticky;
    position: sticky;
    top: -45vw;
    z-index: 1;
}

.exphead{
    background-image: url(../assets/images/Umiami.jpg);
}

.porthead{
    background-image: url(../assets/images/Guitar.jpg);
    background-position: center;
}

.contacthead{
    background-image: url(../assets/images/cass.jpeg);
    background-position: 50%;
}

h1{
    font-weight: lighter;
}

.title{
    text-align: left;
    font-size: 5em;
    align-self: flex-end;
}

#menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    line-height: 50px;
    width: 100%;
    background-color: #a0cac0;
}

#menu > a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: lighter;
}

.linkborder{
    border-right: 2px solid whitesmoke;
}

#menu > a:hover{
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
}

/*content*/

.about{
    text-align: center;
    color: dimgray;
}

.homebody{
    text-align: center;
    font-size: 2.5em;
}

.abouthead{
    font-size: 40px;
    font-weight: bold;
}

.aboutbody{
    font-size: 20px;
    font-weight: normal;
    padding: 0px 15%;
    text-align: justify;
}

.contact{
    font-size: 20px;
    font-weight: normal;
    padding: 0px 15%;
}

#examplepic{
    height: auto;
    width: 50%;
    padding-top: 20px;
}

.expgrid{
    display: grid;
    grid-auto-rows: 1fr;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 2fr;
    margin-left: 50px;
    border-left: 2px solid darkgray;
    background-color: white;
}

.expgridbody{
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.2em;
}

.expbody{
    font-size: 20px;
    font-weight: normal;
    padding-left: 5%;
    padding-right: 15%;
    text-align: left;
    line-height: 1.4em;
}

.iconpic{
    max-height: 300px;
    max-width: auto;
    padding-left: 5%;
    object-fit: scale-down;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.linkshead{
    font-size: 4em;
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
}

.linksgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 500px 500px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 0 5% 5% 5%;
}

.linksbody{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    text-align: center;
    text-decoration: none;
    background-color: white;
    padding: 5%;
    border-bottom: 5px solid #E5E5E5;
    color: dimgray;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.linksbody:hover{
    font-size: 2em;
    background-color: #a0cac0;
    border-bottom: 4px solid #68a697;
    color: white;
    font-weight: bold;
}

.link1{
    background-image: url(../assets/images/githublogo.png);
}

.link2{
    background-image: url(../assets/images/Upuplogo.png);
}

.link3{
    background-image: url(../assets/images/Wvumlogo.png);
}

.link4{
    background-image: url(../assets/images/music-audio-1004-512.png);
}

.link5{
    background-image: url(../assets/images/guitaricon.png);
}

.link6{
    background-image: url(../assets/images/resume.png);
}

.foot{
    text-align: center;
    border-top: 2px solid gray;
}

.foot img{
    height: 45px;
    padding: 10px;
}

/*form*/

fieldset{
    margin: 5%;
}

#textinput{
    margin-top: 15px;
    width: 50%;
    height: 50px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
    padding: 10px;
    resize: none;
}

#textinput:focus{
    height: 200px;
}

input[type="submit"]{
    background: white;
    border: none;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
    display: inline-block;
    color: dimgray;
	font-size: 18px;
	font-weight: 300;
    padding: 14px 24px;
    margin: 20px;
    width: 40%;
}

input[type="submit"]:hover{
    background: #a0cac0;
    border-bottom: 4px solid #68a697;
    color: whitesmoke;
}

/*tabs*/

#showbtn{
    background: white;
    border: none;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
    display: inline-block;
    color: dimgray;
	font-size: 18px;
	font-weight: 300;
    padding: 14px 24px;
    margin-bottom: 20px;
    width: 40%;
}

#showbtn:hover{
    background: #a0cac0;
    border-bottom: 4px solid #68a697;
    color: whitesmoke;
}

.tabs > div{
	/*border-top: 1px solid #c7c7c7*/
	margin-top: 10px;
	background: white !important;
	/*border-bottom: 4px solid #E95855 !important;*/
}

.tabs > div span{
	border-bottom: 4px solid #E5E5E5 !important;
	color: dimgray !important;
	font-weight: 300;
	/*line-height: 186px !important;*/
	display: block;
	text-align: center;
	font-size: 24px;
}

.tabs ul.horizontal{
	list-style: none outside none;
	margin: 0;
}

.tabs li{
	background: white;
	border-bottom: 4px solid #E5E5E5;
	margin: 0 10px 0 0;
	display: inline-block;
}

.tabs a{
	color: dimgray;
	display: block;
	font-size: 18px;
	font-weight: 300;
	padding: 14px 24px;
	text-decoration: none;
}

.tabs li:hover{
	background: #a0cac0;
	border-bottom: 4px solid #68a697;
}

.tabs li:hover a{
	color: white;
}

.active{
	background: #a0cac0 !important;
	border-bottom: 4px solid #68a697 !important;
}

.active a{
	color: white !important;
}

.link{
	color: white;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 48px;
	margin-top: 20px;
	margin-left: 6px;
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;
	color: inherit;
}

.anchorLink{
	border-bottom: 1px dashed white;
	color: white;
	text-decoration: none;
}

.anchorLink:hover{
	text-decoration: none;
	border-bottom: none;
	color: inherit;
}

.screenshot{
	position: absolute;
	clip: rect(0 0 0 0);
}

.prev,
.next{
	background: white !important;
	color: #a0cac0 !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.prev:hover,
.next:hover{
	background: #a0cac0 !important;
	color: white !important;
}

.button{
	background-color: #a0cac0;
	border: none;
	border-bottom: 4px solid rgb(104, 166, 151);
	color: whitesmoke;
	border-radius: 0;
	font-size: 14px;
	letter-spacing: 2px;
	height: 48px;
	line-height: 48px;
}

.button:hover{
	background: #93b7ae;
	color: #FFF;
	border-bottom-color: #68a697;
}

/*media queries*/

.slicknav_menu{
    display: none;
}

@media only screen and (max-width: 992px){
    .linksgrid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px){
    .linksgrid{
        grid-template-columns: 1fr;
    }

    .head{
        position: relative;
        top: 0;
    }

    #menu{
        display: none;
    }

    .linkborder{
        border: none;
    }

    .slicknav_menu{
        display: block;
    }

    .expgrid{
        grid-row-gap: 15px;
        grid-template-columns: 1fr;
        margin-left: 25px;
        margin-right: 25px;
    }

}